/* You can add global styles to this file, and also import other style files */

html,
body {
  background: #eee;
  font-family: "Helvetica Neue", sans-serif;
}

.posts {
  padding: 0 10px;
}

.post {
  background: #fff;
  padding: 5px 10px;
  margin-bottom:10px;
  box-shadow: 1px 1px 3px #ddd;
}
